:root{
    --brand-color:#434455;
    --drand-white-color:#FFFFFF;
    --logo-web-color: #4D5AE5;
    --logo-studio-color: #2E2F42;
    --secondry-brand-color: #2E2F42;
    --hover-focus-color:  #404BBF;

}

/* Common styles*/

body{
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
    background-color: var(--drand-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Reset*/
.list,
ul,
ol{
    list-style: none;
}

.link,
a{
    text-decoration: none;
    color: currentColor;
}

.btn,
button{
    font-family: inherit;
    cursor: pointer;
}

/* Base styles*/

/*Header styles*/
.logo{
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-web-color);
}

.logo-studio {
    color: (var(--logo-studio-color));
}

.nav-list{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondry-brand-color);
}

.address{
    font-family: inherit;
    font-style: normal;
    counter-reset: var(--brand-color);
}